.content{
    width: 80%;
    margin:auto;
    text-align: center;
    background-color: aliceblue;
    padding:2rem;
}

.counters{
    display: flex;
    margin-top: 1rem;
    
}

.button-content{
  

}
.cbutton{
    background-color:rgb(114, 114, 231);
    padding:.8rem;
    border:none;
    color:white;
    border-radius: 10px;
    
}
input{
    padding:.8rem;
     border-radius: 10px;
     border:none;
     
}

.cards{
    width: 40%;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    margin:.6rem;
    padding:1rem;
    background-color: white;
    box-shadow:2px 1px #e5e5e5;

}
.tag{
    display: flex;
}
.tag h4{
    margin-right: .3rem;
}
.customer-count{
margin-left: auto;
}
.customers-list p{
padding:.8rem;
text-align: left;
background-color: rgb(243, 243, 243);
border-radius: 10px;
}

.total-items, .customercount{
    font-weight: 400;
}